@model SliderViewModel
@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description">
                    Create Category
                </p>
                <form class="forms-sample" method="post" asp-action="Create" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="@Model.Slider.Title"></label>
                        <input class="form-control" asp-for="@Model.Slider.Title" id="exampleInputUsername1" placeholder="Name">
                        <span asp-validation-for="@Model.Slider.Title"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Slider.Desc"></label>
                        <input class="form-control" asp-for="@Model.Slider.Desc" id="exampleInputUsername1" placeholder="Name">
                        <span asp-validation-for="@Model.Slider.Desc"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Slider.File"></label>
                        <input class="form-control" asp-for="@Model.Slider.File" id="exampleInputUsername1" placeholder="Name" accept="image/*">
                        <span asp-validation-for="@Model.Slider.File"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.File"></label>
                        <input class="form-control" asp-for="@Model.File" id="exampleInputUsername1" placeholder="Name" accept="image/*">
                        <span asp-validation-for="@Model.File"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light" asp-action="create">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>


