@model LayoutInfo
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Default form</h4>
                <p class="card-description">
                    Create Category
                </p>
                <form class="forms-sample" method="post" asp-action="Create">

                    <div class="form-group">
                        <label asp-for="@Model.LinkedId">LinkedIn</label>
                        <input class="form-control" asp-for="@Model.LinkedId" id="exampleInputUsername1" placeholder="Name">
                        <span asp-validation-for="@Model.LinkedId"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Facebook">Description</label>
                        <input class="form-control" asp-for="@Model.Facebook" id="exampleInputUsername1" placeholder="Description">
                        <span asp-validation-for="@Model.Facebook"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                    <button class="btn btn-light" asp-controller="Layout" asp-action="index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>



